#jinja2: trim_blocks: "true", lstrip_blocks: "true"
# {{ ansible_managed }}
################# GLOBAL PART #################################
[global]
  fsid = {{cluster_fsid.stdout}}
{% if cephx %}
  auth cluster required = cephx
  auth service required = cephx
  auth client required = cephx
{% else %}
  auth cluster required = none
  auth service required = none
  auth client required = none
  auth supported = none
{% endif %}

################# MONITOR PART #################################
{% for host in groups['mons'] %}
{% if cluster_name in group_names %}
[mon.{{ hostvars[host]['ansible_hostname'] }}]
    host = {{ hostvars[host]['ansible_hostname'] }}
    mon addr = {{ hostvars[host]['ansible_' + monitor_interface]['ipv4']['address'] }}
{% endif %}
{% endfor %}
